{% extends 'template.html' %}
{% block content %}


<section>
    <div class="w100">
        <br>
        <table class="hospital">
            <thead>
                <tr>
                    <th>병원 이름</th>
                    <th>전문의 의원 수</th>
                    <th>진료과목</th>
                    <th>위도</th>
                    <th>경도</th>
                    <th>주소</th>
                    <th>휴일</th>
                    <th>open time</th>
                    <th>close time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9">병원 정보가 나타납니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<br>
<br>
<br>
<section>
    <div class="info">
        <form action="/selectpat" method="post" class="patientForm"> 
            <select class="input mode" name="mode"> 
                <option id="surround" selected="selected" value="all"> 
                    모두
                </option> 
                <option value="paname"> 
                    이름
                </option> 
                <option value="paphone"> 
                    번호
                </option> 
                <option value="date"> 
                    날짜
                </option> 
            </select>
            <input type="text" name="search" class="input search" placeholder="검색어를 입력해주세요">
            <button type="submit" id="submit" class="btn">검색</button>
            날짜 검색 시 YYYY-MM-DD 형식으로 입력해주세요
        </form> 
    </div>
</section>
<section>
    <div class="w100">
        <table class="patient-info">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>예약자 이름</th>
                    <th>전화 번호</th>
                    <th>예약 시간</th>
                    <th>처방</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">예약 환자 정보가 나타납니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <div class="w100">
        <button class="btn" id="visiting">방문한 환자 목록</button>
    </div>
</section>
<br><br><br>
<section>
    <div class="w100">
        <br>
        <table class="visited">
            <thead>
                <tr>
                    <th> No </th>
                    <th>환자 이름</th>
                    <th>방문 횟수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">환자 방문 이력이 나타납니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<script>
    //병원 정보 불러오기
    $(document).ready(function(){
        var holiday = ["일", "월", "화", "수", "목", "금", "토"];
            $.ajax({
                url : "/checkhosp",
                data:{},
                type : "POST",
                success : function(data){
                    console.log(data)
                    if(data.length > 2){
                        data = JSON.parse(data);
                        //var work = data.workingtime.split("/");
                        var tbody = "";
                        tbody += "<tr>";
                        tbody += "<td>"+ data.name +"</td>";
                        tbody += "<td>"+ data.doccnt +"</td>";
                        tbody += "<td>"+ data.subject +"</td>";
                        tbody += "<td>"+ data.lat +"</td>";
                        tbody += "<td>"+ data.lng +"</td>";
                        tbody += "<td>"+ data.addr +"</td>";   
                        tbody += "<td>" + holiday[parseInt(data.holiday)] + "</td>";
                        tbody += "<td>(오전) "+ data.opent +"</td>";
                        tbody += "<td>(오후) "+ data.closet +"</td>";
                        tbody += "</tr>";
                        
                        $(".hospital tbody").html(tbody);
                    }
                }
                
            });
        

        $("body").on("click","#visiting",function(){
            $.ajax({
                type:"post",
                url:"/visitedpatient",
                data: {},
                success:function(data){
                    var tbody = "";  
                if(data.length > 0){
                    data = JSON.parse(data);
                    console.log(data)
                    $(data).each(function(e, el){
                        tbody += "<tr>";
                        tbody += "<td>"+ (e+1) +"</td>";
                        tbody += "<td>"+ el[0] +"</td>";
                        tbody += "<td>"+ el[1] +"</td>";
                        tbody += "</tr>";
                        
                    });
                }

                $(".visited tbody").html(tbody);
                }
            });
        });
        
    });
    //버튼 클릭시 예약 환자 정보 불러오기
    $(".patientForm").submit(function(e) {
        e.preventDefault();

        var mode = $(".patientForm .mode").val();
        var word = $(".patientForm .search").val();

        $.ajax({
            url: "/selectpat",
            data: {
                mode : mode,
                word: word,
                where:"hospital"
            },
            type: "post",
            success: function(data) {
                data = JSON.parse(data);
                var tbody = "";
                if(data.length <= 0) {
                    tbody += "<tr>";
                    tbody += "<td colspan='6'>검색 결과가 없습니다.</td>";
                    tbody += "</tr>";
                } else {
                    $(data).each(function(e, el) {
                        $(el).each(function(e2, el2) {
                            tbody += "<tr>";
                            tbody += "<td>"+ (e + 1) +"</td>";
                            tbody += "<td>"+ el2.name +"</td>";
                            tbody += "<td>"+ el2.phone +"</td>";
                            tbody += "<td>"+ el2.rtime +"</td>";
                            tbody += "<td>"+ '<button type="button" class="prebtn btn btn-blue" name="prescript" data-time ="'+el2.rtime+'" data-idx="'+el2.idx+'">처방</button>'+"</td>";
                            tbody += "<td>"+ '<button type="button" class="delbtn btn btn-red" name="del" data-idx="'+el2.rtime+'">예약 취소<f/button>'+"</td>";
                            tbody += "</tr>";
                        });
                    });
                }
                $(".patient-info tbody").html(tbody);
                
            }
        });

        $("body").on("click",".prebtn",function(){
            location.href = '/prescript?idx=' + $(this).attr("data-idx")+'&time=' + $(this).attr("data-time");
        });

        $("body").on("click",".delbtn",function(){
            var idx = $(this).attr("data-idx");
            var btn = $(this);
            $.ajax({
                type: "post",
                url: "/delete",
                data: {
                    idx: idx
                },
                success: function(data) {
                    $(btn).parents("tr").remove();
                }
            });

        });
    });


</script>


{% if session['mode'] != '2' : %}
<script>
    alert("잘못된 접근입니다.");
    location.href="/mode"
</script>
{%endif%}
<script></script>

{% endblock %}