
.input {
    border-radius: 10px;
    height : 30px;
    border: 1px solid #CCC;
    padding: 0 10px;
}
.center {
    text-align: center;
}

.btn {
    height : 30px;
    border : none;
    padding : 0 10px;
    background: #888;
    color : white;                
}

.btn.btn-red {
    background: #d85a5a;
}