<!doctype html>
<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/txtInput.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <style>
            .info {
                width: 100%;
                height: 30px;
                line-height: 30px;
            }

            form {
                float: left;
            }

            .resultCnt {
                float: right;
            }

            #search{
                border-radius: 100px;
                height : 30px;
                border: 1px solid #CCC;
                padding: 0 10px;
            }
            #submit{
                height : 30px;
                border : none;
                padding : 0 10px;
                background: #888;
                color : white;                
            }
        </style>
    </head>
    <script>
        // comment
        /* long comment */
    </script>
    <body>
        <header>
            <div class="w100">
                <h1>
                    <a href="/">HYU DB Project A2</a>
                </h1>
    
                <nav>
                    <ul>
                        <li>
                            <a href="/">SELECT</a>
                        </li>   
                        <li>
                            <a href="/insert">INSERT</a>
                        </li>
                        <!-- <li>
                            <a href="update">UPDATE</a>
                        </li> -->
                        <!-- <li>
                            <a href="delete">DELETE</a>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </header>        
        <section>
            <div class="w100">
                <div class="info">
                    <form action="/data" method="post">
                        <input type="text" id="search" name="search" placeholder="검색어를 입력해주세요">
                        <button type="submit" id="submit" class="btn">검색</button>
                    </form>
                    <p class="resultCnt">
                        <b>Total: <span>0</span> </b>
                    </p>
                </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">검색 결과가 표시됩니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <footer>
            <div class="w100">
                HYU DB Project - A2
            </div>
        </footer>

        <script>
        $(function() {
            $("form").submit(function(e) {
                e.preventDefault(e);

                var word = $("#search").val();
                // function phoneFormat(){
                //     var str = $('#phoneFormat').text().trim();    
                //     var phone = str.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3");
                //     $('#phoneFormat').text(phone);
                // }


                if(word.length == 0) {
                    alert("검색어를 입력하세요.");
                    return false;
                }

                $.ajax({
                    url: "/data",
                    data: {
                        word: word
                    },
                    dataType: "JSON",
                    type: "post",
                    success: function(data) {
                        // e => index number, el => element
                        // for(i in range(1, 10)) {}
                        var tbody = "";

                        if(data.length <= 0) {
                            tbody += "<tr>";
                            tbody += "<td colspan='5'>검색 결과가 없습니다.</td>";
                            tbody += "</tr>";
                        } else {
                            $(".resultCnt span").text(data.length);
                            $(data).each(function(e, el) {
                                el.phone = el.phone.substr(0, 3) + "-" + 
                                            el.phone.substr(3, 4) + "-" + 
                                            el.phone.substr(7, 4);
                                tbody += "<tr>";
                                tbody += "<td>"+ (e + 1) +"</td>";
                                tbody += "<td>"+ el.name +"</td>";
                                tbody += "<td>"+ el.phone +"</td>";
                                tbody += "<td>"+ '<button class="updbtn btn" name="update" data-idx="'+el.idx+'">수정</button>'+"</td>";
                                tbody += "<td>"+ '<button class="delbtn btn btn-red" name="del" data-idx="'+el.idx+'">삭제</button>'+"</td>";
                                tbody += "</tr>";
                            });
                        }

                        /*
                        for(var i = 0; i < data.length; i++) {
                            var el = data[i];
                            var e = i;
                        }
                        */

                        $("table tbody").html(tbody);
                       
                    }
                });
            })
            // $("document").on("click","button[name=del]",function(){
            //     var trHtml = $(this).parent().parent();
            //     trHtml.remove();
            // });
            // $("document").on("click","button[name=update]",function(){
                
            // });

            // 원래 DOM에만 반응
            // $(".delbtn").click(function() {})
            // $(".delbtn").on("click", function() {})

            // 새로 생기는 DOM에 반응
            // $("body").on("click", ".delbtn", function() {})

            $("body").on("click", ".updbtn", function() {
                location.href = '/update?idx=' + $(this).attr("data-idx");
            });

            $("body").on("click", ".delbtn", function() {
                console.log("del click");
                var delIdx = $(this).attr("data-idx");
                var btn = $(this);
                $.ajax({
                    type: "post",
                    url: "/del",
                    data: {
                        id: delIdx
                    },
                    success: function(data) {
                        console.log(data);
                        $(btn).parents("tr").remove();
                    }
                });
            //     $.ajax({
            //         type: "DELETE",
            //         url: "/del",
            //         data:{id:deleteid},
            //         success: function(response){
            //             if(response==1){
            //                 $(el).closest('tr').fadeOut(function(){
            //                     $(this).remove();
            //                 });

            //             }else{
            //                 alert('failed');
            //             }
            //         }



            //     });
            });
            $("body").on("click","updbtn",function(){

            });
            // $("document").on("click",".delBtn",function(){
            //     var el = $(this);
            //     var id = el.attr("idx");
            //     var delId = $(this).attr()
            //     $.ajax({
            //         type: "DELETE",
            //         url: "/del",
            //         data:{id:deleteid},
            //         success: function(response){
            //             if(response==1){
            //                 $(el).closest('tr').fadeOut(function(){
            //                     $(this).remove();
            //                 });

            //             }else{
            //                 alert('failed');
            //             }
            //         }



            //     });
            // });
            $("document").on("click","button[name=update]",function(){
                
            });

        });
        </script>
    </body>
</html>