<!doctype html>
<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/txtInput.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <header>
            <div class="w100">
                <h1>
                    <a href="/">HYU DB Project A2 - INSERT</a>
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="/">SELECT</a>
                        </li>
                        <li>
                            <a href="insert">INSERT</a>
                        </li>
                        <!-- <li>
                            <a href="update">UPDATE</a>
                        </li>
                        <li>
                            <a href="delete">DELETE</a>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </header> 

        <section>
            <div class="w100">
                <!-- 127.0.0.1:5000/save -->
                <form action="/save" id="register" method="post">
                    이름
                    <input type="text" id="name">
                
                    전화 번호 입력
                    <!-- <select id="txtMobile1">
                        <option value="">::선택::</option>
                        <option value="010">010</option>
                    </select>
                    <input type="text" id="txtMobile2" size="4">
                    <input type="text" id="txtMobile3" size="4">
                     -->
                    <input type="text" id="phone">
                    <!-- <input type="tel" id="phone" pattern="(010)-\d{4}-\d{4}" > -->
                    <button class="btn" type="submit" id="submit">추가</button>
                </form>
            </div>
        </section>

        <footer>
            <div class="w100">
                HYU DB Project - A2
            </div>
        </footer>
        
        <script>
            /* function inputPhoneNumber(obj) {
                var number = obj.value.replace(/[^0-9]/g, "");
                var phone = "";

                if(number.length < 4) {
                    return number;
                } else if(number.length < 7) {
                    phone += number.substr(0, 3);
                    phone += "-";
                    phone += number.substr(3);
                } else if(number.length < 11) {
                    phone += number.substr(0, 3);
                    phone += "-";
                    phone += number.substr(3, 3);
                    phone += "-";
                    phone += number.substr(6);
                } else {
                    phone += number.substr(0, 3);
                    phone += "-";
                    phone += number.substr(3, 4);
                    phone += "-";
                    phone += number.substr(7);
                }
                obj.value = phone;
            } */
            $(function(){
               function onlyNumber() {
                    if ((event.keyCode < 48) || (event.keyCode > 57))
                        event.returnValue = false;
                }
                $("#phone").on("keypress", onlyNumber);
                $("form").on("submit", function(e) {
                    e.preventDefault();

                    var name = $("#name").val();
                    var phone = $("#phone").val();

                    if(name == "") {
                        alert("이름을 입력하세요.");
                        return false;
                    }
                    if(phone.length !=11 ) {
                        alert("전화번호를 11자리로 입력하세요.");
                        return false;
                    }
                    if(phone.substr(0, 3) != "010") {
                        alert("전화번호는 '010' 으로 시작해야 합니다.");
                        return false;
                    }

                    $.ajax({
                         url:'/save',
                         type:'post',
                         data:{
                             name : name,
                             phone : phone
                         },
                         success : function(data){
                             alert("데이터가 추가되었습니다.");
                             location.href = '/';
                         },
                         error:function(){
                             alert("try again");
                         }
                     });
        
                });

            });          

            // $(function() {
            //     //입력값 확인
            //     function onlyNumber() {
            //         if ((event.keyCode < 48) || (event.keyCode > 57))
            //             event.returnValue = false;
            //     }
                
            //     $("#txtMobile2, #txtMobile3").on("keypress", onlyNumber);
            //     $("#submit").on("click", function() {
            //         if($("#name").val() == "") {
            //             alert("이름을 입력하세요.");
            //             return false;
            //         }
            //         if($("#txtMobile1").val() == "") {
            //             alert("휴대폰 번호의 앞 번호를 선택하세요.");
            //             return false;
            //         }
            //         if($("#txtMobile2").val().length != 4) {
            //             alert("휴대폰 번호는 4자리로 입력하세요.");
            //             return false;
            //         }
            //         if($("#txtMobile3").val().length != 4) {
            //             alert("휴대폰 번호는 4자리로 입력하세요.");
            //             return false;
            //         }
        
            //         // return false
            //     });
            // });
        </script>
    </body>
</html>

