<!doctype html>
<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" href="/static/index.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <header>
            <div class="w100">
                <h1>
                    <a href="/">HYU DB Project A2 - INSERT</a>
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="/">SELECT</a>
                        </li>
                        <li>
                            <a href="insert">INSERT</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header> 

        <section>
            <div class="w100">
                <!-- 127.0.0.1:5000/save -->
                <form action="/save" id="register" method="post">
                    이름
                    <input type="text" id="name" class="input">
                
                    전화 번호 입력
                    <input type="text" id="phone" class="input center">
                    <button class="btn" type="submit" id="submit">추가</button>
                </form>
            </div>
        </section>

        <footer>
            <div class="w100">
                HYU DB Project - A2
            </div>
        </footer>
        
        <script>
            $(function(){
               function onlyNumber() {
                    if ((event.keyCode < 48) || (event.keyCode > 57))
                        event.returnValue = false;
                }
                $("#phone").on("keypress", onlyNumber);
                $("form").on("submit", function(e) {
                    e.preventDefault();

                    var name = $("#name").val();
                    var phone = $("#phone").val();

                    if(name == "") {
                        alert("이름을 입력하세요.");
                        return false;
                    }
                    if(phone.length !=11 ) {
                        alert("전화번호를 11자리로 입력하세요.");
                        return false;
                    }
                    if(phone.substr(0, 3) != "010") {
                        alert("전화번호는 '010' 으로 시작해야 합니다.");
                        return false;
                    }

                    $.ajax({
                         url:'/save',
                         type:'post',
                         data:{
                             name : name,
                             phone : phone
                         },
                         success : function(data){
                             alert("데이터가 추가되었습니다.");
                             location.href = '/';
                         },
                         error:function(){
                             alert("try again");
                         }
                     });
        
                });

            });
        </script>
    </body>
</html>

