<!doctype html>
<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/txtInput.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <header>
            <div class="w100">
                <h1>
                    <a href="/">HYU DB Project A2 - INSERT</a>
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="/">SELECT</a>
                        </li>
                        <li>
                            <a href="insert">INSERT</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header> 

        <section>
            <div class="w100">
                <!-- 127.0.0.1:5000/save -->
                <form action="/modify" id="register" method="post">
                    이름
                    <input type="text" id="name">
                
                    전화 번호 입력
                    <input type="text" id="phone">
                    <button class="btn" type="submit" id="submit">수정</button>
                </form>
            </div>
        </section>

        <footer>
            <div class="w100">
                HYU DB Project - A2
            </div>
        </footer>
        
        <script>
            var idx = null;
            $(function(){
                var url = new URL(location.href);
                idx = url.searchParams.get("idx");
                $.ajax({
                    url: "/selectData",
                    type: "post",
                    data: {
                        idx: idx
                    },
                    success: function(data) {
                        data = JSON.parse(data);
                        data = data[0];
                        $("#name").val(data[1]);
                        $("#phone").val(data[2]);
                    }
                });
               function onlyNumber() {
                    if ((event.keyCode < 48) || (event.keyCode > 57))
                        event.returnValue = false;
                }
                $("#phone").on("keypress", onlyNumber);
                $("form").on("submit", function(e) {
                    e.preventDefault();
                    
                    var name = $("#name").val();
                    var phone = $("#phone").val();

                    if(name == "") {
                        alert("이름을 입력하세요.");
                        return false;
                    }
                    if(phone.length !=11 ) {
                        alert("전화번호를 11자리로 입력하세요.");
                        return false;
                    }
                    if(phone.substr(0, 3) != "010") {
                        alert("전화번호는 '010' 으로 시작해야 합니다.");
                        return false;
                    }
               
                    $.ajax({
                         url:'/modify',
                         type:'post',
                         data:{
                            idx: idx,
                            name : name,
                            phone : phone
                         },
                         success : function(data){
                             alert("연락처 정보가 수정되었습니다.");
                             location.href = '/';
                         },
                         error:function(){
                             alert("try again");
                         }
                     });
        
                });

            });   
        </script>
    </body>
</html>

