<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>DBMS Term Project</title>
</head>
<body>
    <header>
        <ul>
            <li>
            {% if session["logined"] != True: %}
                <a href="/login">LOGIN</a>
            {% else: %}
                <a href="/logout">LOGOUT</a>
            {% endif %}
            </li>
        </ul>
    </header>
    
{% block content %}
{% endblock %}
</body>
</html>