<!doctype html>
<html>
    <head>
        <title>DB</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/txtInput.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <style>
            #mode{        
                height : 30px;
                border: 1px solid #CCC;
                padding : 0 10px;
            }
            #search{
                border-radius: 100px;
                height : 30px;
                border: 1px solid #CCC;
                padding: 0 10px;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="w100">
                <h1>
                    <a href="/">HYU DB Project A2 - UPDATE</a>
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="/">SELECT</a>
                        </li>
                        <li>
                            <a href="insert">INSERT</a>
                        </li>
                        <li>
                            <a href="update">UPDATE</a>
                        </li>
                        <li>
                            <a href="delete">DELETE</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header> 

        <section>
            <div class="w100">
                <form action="save" method="post">
                    <select id = "mode">
                        <option value="name">이름</option>
                        <option value="phone">전화번호</option>
                    </select>
                    <input type="text" id="search" placeholder="검색어를 입력해주세요">
                    <button type="submit" id="submit">검색</button>

                </form>
            </div>
        </section>

        <footer>
            <div class="w100">
                HYU DB Project - A2
            </div>
        </footer>
        
        <script>
            $(function() {
                //입력값 확인
                function onlyNumber() {
                    if ((event.keyCode < 48) || (event.keyCode > 57))
                        event.returnValue = false;
                }
                
                $("#txtMobile2, #txtMobile3").on("keypress", onlyNumber);
                $("#submit").on("click", function() {
                    if($("#name").val() == "") {
                        alert("이름을 입력하세요.");
                        return false;
                    }
                    if($("#txtMobile1").val() == "") {
                        alert("휴대폰 번호의 앞 번호를 선택하세요.");
                        return false;
                    }
                    if($("#txtMobile2").val().length != 4) {
                        alert("휴대폰 번호는 4자리로 입력하세요.");
                        return false;
                    }
                    if($("#txtMobile3").val().length != 4) {
                        alert("휴대폰 번호는 4자리로 입력하세요.");
                        return false;
                    }
        
                    // return false
                });
            });
        </script>
    </body>
</html>