{% extends 'template.html' %}
{% block content %}


<section>
    <div class="w100">
        <br>
        <table class="hospital">
            <thead>
                <tr>
                    <th>약국 이름</th>
                    <th>위도</th>
                    <th>경도</th>
                    <th>주소</th>
                    <th>휴일</th>
                    <th>open time</th>
                    <th>close time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">약국 정보가 나타납니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<br>
<br>
<br>
<section>
    <div class="info">
        <form action="/selectpat" method="post" class="patientForm"> 
            <select class="input mode" name="mode"> 
                <option id="surround" selected="selected" value="all"> 
                    모두
                </option> 
                <option value="paname"> 
                    이름
                </option> 
                <option value="paphone"> 
                    번호
                </option> 
                <option value="date"> 
                    날짜
                </option> 
            </select>
            <input type="text" name="search" class="input search" placeholder="검색어를 입력해주세요">
            <button type="submit" id="submit" class="btn">검색</button>
        </form> 
    </div>
</section>
<section>
    <div class="w100">
        <table class="patient-info">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>예약자 이름</th>
                    <th>전화 번호</th>
                    <th>예약 시간</th>
                    <th>열람</th>
                    <th>처방가능</th>
                    <th>처방불가능</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">예약 환자 정보가 나타납니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
    

<script>
    //약국 정보 불러오기
    $(document).ready(function(){
        var holiday = ["일", "월", "화", "수", "목", "금", "토"];
            $.ajax({
                url : "/checkphar",
                data:{},
                type : "POST",
                success : function(data){
                    console.log(data)
                    if(data.length > 2){
                        data = JSON.parse(data);
                        //var work = data.workingtime.split("/");
                        var tbody = "";
                        tbody += "<tr>";
                        tbody += "<td>"+ data.name +"</td>";
                        tbody += "<td>"+ data.lat +"</td>";
                        tbody += "<td>"+ data.lng +"</td>";
                        tbody += "<td>"+ data.addr +"</td>";   
                        tbody += "<td>" + holiday[parseInt(data.holiday)] + "</td>";
                        tbody += "<td>(오전) "+ data.opent +"</td>";
                        tbody += "<td>(오후) "+ data.closet +"</td>";
                        tbody += "</tr>";
                        
                        $(".hospital tbody").html(tbody);
                    }
                }
                
            });
        
    });
    //버튼 클릭시 예약 환자 정보 불러오기
    $(".patientForm").submit(function(e) {
        e.preventDefault();

        var mode = $(".patientForm .mode").val();
        var word = $(".patientForm .search").val();

        $.ajax({
            url: "/selectpat",
            data: {
                mode : mode,
                word: word,
                where:"pharmacy"
            },
            type: "post",
            success: function(data) {
                data = JSON.parse(data);
                var tbody = "";
                if(data.length <= 0) {
                    tbody += "<tr>";
                    tbody += "<td colspan='6'>검색 결과가 없습니다.</td>";
                    tbody += "</tr>";
                } else {
                    $(data).each(function(e, el) {
                        $(el).each(function(e2, el2) {
                            tbody += "<tr>";
                            tbody += "<td>"+ (e + 1) +"</td>";
                            tbody += "<td>"+ el2.name +"</td>";
                            tbody += "<td>"+ el2.phone +"</td>";
                            tbody += "<td>"+ el2.rtime +"</td>";
                            tbody += "<td>"+ '<button type="button" class="readbtn btn" name="read" data-idx="'+el2.idx+'">열람</button>'+"</td>";
                            tbody += "<td>"+ '<button type="button" class="posbtn btn btn-blue" name="pos" data-idx="'+el2.idx+'">처방가능</button>'+"</td>";
                            tbody += "<td>"+ '<button type="button" class="imposbtn btn btn-red" name="impos" data-idx="'+el2.idx+'">처방불가능<f/button>'+"</td>";
                            tbody += "</tr>";
                        });
                    });
                }
                $(".patient-info tbody").html(tbody);
                
            }
        });

        $("body").on("click",".prebtn",function(){
            location.href = '/prescript?idx=' + $(this).attr("data-idx");
        });

        $("body").on("click",".delbtn",function(){
            var idx = $(this).attr("data-idx");
            var btn = $(this);
            $.ajax({
                type: "post",
                url: "/delete",
                data: {
                    idx: idx
                },
                success: function(data) {
                    $(btn).parents("tr").remove();
                }
            });

        });
    });


</script>


{% if session['mode'] != '3' : %}
<script>
    alert("잘못된 접근입니다.");
    location.href="/mode"
</script>
{%endif%}
<script></script>

{% endblock %}